@* Generator : Template *@
@using DeviceHive.DocGenerator

@functions  {
    public MetadataService Service { get; set; }
}

<h1>@Html.Encode(Service.Name)</h1>

<p>@Html.Documentation(Service.Documentation)</p>

<h2>WebSocket Handshake URI</h2>
<pre class="uri">GET @Html.Encode(Service.Uri)</pre>

<h2>Messages</h2>
<table>
    <tr>
        <th style="width:150px">Message</th>
        <th style="width:80px">Originator</th>
        <th style="width:100px">Authorization</th>
        <th style="width:400px">Description</th>
    </tr>
    @foreach (var method in Service.Methods)
    {
    <tr>
        <td><a href="#WsReference/@Html.Encode(Service.Name)/@Html.Encode(method.ID())">@Html.Encode(method.Name)</a></td>
        <td>@Html.Encode(method.Originator)</td>
        <td>@Html.Encode(method.Authorization)</td>
        <td>@Html.Documentation(method.Documentation)</td>
    </tr>
    }
</table>
