@* Generator : Template *@
@using DeviceHive.DocGenerator

@functions  {
    public MetadataService Service { get; set; }
    public MetadataMethod Method { get; set; }
}

<h1>@Html.Encode(Service.Name): @Html.Encode(Method.Name)</h1>

<p>@Html.Documentation(Method.Documentation)</p>

@if (Method.Originator != "Server")
{
<h2>Request Message</h2>

<h3>Authorization</h3>
<p>@Html.Encode(Method.Authorization)</p>

<h3>Message Representation</h3>
@Html.JsonRepresentation(Method.RequestParameters)
    
<h3>Message Parameters</h3>
<table>
    <tr>
        <th style="width:200px">Property Name</th>
        <th style="width:80px">Required</th>
        <th style="width:80px">Type</th>
        <th style="width:400px">Description</th>
    </tr>
    @foreach (var parameter in Method.RequestParameters)
    {
    <tr>
        <td>@Html.Encode(parameter.Name)</td>
        <td>@(parameter.IsRequred ? "Yes" : "No")</td>
        <td>@Html.Encode(parameter.Type)</td>
        <td>@Html.Documentation(parameter.Documentation)</td>
    </tr>
    }
</table>
}

<h2>@(Method.Originator == "Client" ? "Response" : "Server") Message</h2>
@if (Method.ResponseDocumentation != null)
{
<p>@Html.Documentation(Method.ResponseDocumentation)</p>
}

<h3>Message Representation</h3>
@Html.JsonRepresentation(Method.ResponseParameters)

<h3>Message Parameters</h3>
<table>
    <tr>
        <th style="width:200px">Property Name</th>
        <th style="width:80px">Type</th>
        <th style="width:400px">Description</th>
    </tr>
    @foreach (var parameter in Method.ResponseParameters)
    {
    <tr>
        <td>@Html.Encode(parameter.Name)</td>
        <td>@Html.Encode(parameter.Type)</td>
        <td>@Html.Documentation(parameter.Documentation)</td>
    </tr>
    }
</table>
